@import "./fonts.scss";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    @apply bg-blue-500;
    border-radius: 10px;
}

a {
    cursor: pointer;
    &.link {
        text-decoration: none;
        color: #353535;
        transition: 0.3s;
        font-weight: 400;
        font-size: 1.03em;
        &:hover {
            @apply text-blue-500;
        }
    }
}

nav {
    display: flex;
    align-items: center;
    a {
        margin-right: 15px;
        &:first-child {
            margin-right: 0;
        }
    }
    button {
        margin-right: 15px;
    }
}

.slider-pagination {
    margin-top: 35px;
    display: flex;
    justify-content: center;
    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        border-radius: 15px;
        cursor: pointer;
        @apply bg-blue-500;
        margin-left: 6px;
        transition: 0.4s;
        &:last-child {
            margin-left: 0px;
        }
    }
    .swiper-pagination-bullet-active {
        width: 25px;
        @apply bg-blue-500;
    }
}

footer {
    .infos {
        @apply justify-center;
        @apply mt-10;
        @apply md:mt-0;

        ul {
            list-style: none;
            margin-right: 12px;
            li:first-child {
                font-size: 22px;
            }

            li:last-child {
                font-size: 14px;
            }
        }
    }
    .will {
        @apply mt-6;
        li {
            margin-top: 15px;
        }
    }
}

.sectionTitle {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-family: "Aviny";
    font-size: 2rem;
    font-weight: 700;
    color: #263238;
    b {
        display: block;
        -ms-flex: 1;
        flex: 1;
        height: 4px;
        opacity: 0.4;
        background-color: #263238;
    }
}

.sectionTitleCenter {
    span {
        text-align: center;
        margin: 0 15px;
    }
}

.SliderPagination {
    margin-top: 35px;
    display: flex;
    justify-content: center;
    .swiper-pagination-bullet {
        width: 25px;
        height: 13px;
        border-radius: 15px;
        cursor: pointer;
        @apply border;
        @apply border-solid;
        @apply border-blue-500;
        margin-left: 6px;
        transition: 0.4s;
        &:last-child {
            margin-left: 0;
        }
    }

    .swiper-pagination-bullet-active {
        width: 35px;
        @apply bg-blue-500;
    }
}

.article-body {
    margin-top: 50px;
    padding: 20px;
    height: auto;
    p {
        text-align: justify;
        margin: 15px 0px;
        line-height: 40px;
    }

    h2 {
        margin: 25px 0;
    }

    a {
        color: #fca311;
        transition: 0.5s;
        &:hover {
            color: #0096c7;
        }
    }
}

@media only screen and (max-width: 768px) {
    .infos {
        margin-top: 50px;
    }
    .title-foo {
        margin-top: 40px !important;
    }
}
